<div class="container">
  <h2>Информация о вопросе</h2>
  <form [formGroup]="form" (ngSubmit)="editQuestion()">
    <!-- <div class="form-group">
      <label for="id">Id</label>

      <input
        type="text"
        class="form-control"
        id="id"
        formControlName="id"
        [readonly]="true"
      />
    </div> -->
    <div class="form-group">
      <label for="testName">Из какого теста</label>
      <input
        type="text"
        class="form-control"
        id="testName"
        [readonly]="true"
        formControlName="testName"
      />
      <div
        *ngIf="
          this.form.controls['testName'].invalid &&
          this.form.controls['testName'].touched
        "
        class="validation"
      >
        <small
          *ngIf="this.form.controls['testName'].errors?.['required']"
          style="color: red"
          >Поле не может быть пустым</small
        >
        <small
          *ngIf="!this.form.controls['testName'].touched"
          style="color: red"
        >
          Внесите изменения</small
        >
      </div>
    </div>
    <div class="form-group">
      <label for="questionName">Название вопроса</label>
      <input
        type="text"
        class="form-control"
        id="questionName"
        [readonly]="false"
        formControlName="questionName"
      />
      <div
        *ngIf="
          this.form.controls['questionName'].invalid &&
          this.form.controls['questionName'].touched
        "
        class="validation"
      >
        <small
          *ngIf="this.form.controls['questionName'].errors?.['required']"
          style="color: red"
          >Поле не может быть пустым</small
        >
        <small
          *ngIf="!this.form.controls['questionName'].touched"
          style="color: red"
        >
          Внесите изменения</small
        >
      </div>
    </div>

    <div class="form-group">
      <label for="questionType">Тип вопроса</label>
      <!-- <input
          type="text"
          class="form-control"
          id="subjectName"
          [readonly]="false"
          formControlName="subjectName"
        /> -->
      <select
        formControlName="questionType"
        class="form-select"
        aria-label="Default select example"
      >
        <option *ngFor="let questionType of questionTypes">
          {{ questionType.name }}
        </option>
      </select>
      <div
        *ngIf="
          this.form.controls['questionType'].invalid &&
          this.form.controls['questionType'].touched
        "
        class="validation"
      >
        <small
          *ngIf="this.form.controls['questionType'].errors?.['required']"
          style="color: red"
          >Поле не может быть пустым</small
        >
        <small
          *ngIf="!this.form.controls['questionType'].touched"
          style="color: red"
        >
          Внесите изменения</small
        >
      </div>
    </div>
    <div class="form-group">
      <label for="value">Стоимость вопроса</label>
      <input
        type="number"
        class="form-control"
        id="value"
        [readonly]="false"
        formControlName="value"
        min="0"
      />
      <div
        *ngIf="
          this.form.controls['value'].invalid &&
          this.form.controls['value'].touched
        "
        class="validation"
      >
        <small
          *ngIf="this.form.controls['value'].errors?.['required']"
          style="color: red"
          >Поле не может быть пустым</small
        >
        <small *ngIf="!this.form.controls['value'].touched" style="color: red">
          Внесите изменения</small
        >
      </div>
    </div>
    <div *ngIf="this.question.picture != null" class="form-group">
      <label for="picture">Картинка</label>
      <br />
      <img
        id="picture"
        src="data:image/jpeg;base64,{{ this.question.picture }}"
        alt=""
        width="800"
        height="600"
      />
    </div>
    <div class="form-group">
      <label for="answerVariants">Список ответов</label>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Текст ответа</th>
            <th scope="col">Правильность</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let i of answerVariants">
            <th scope="row">{{ i.id }}</th>
            <td>{{ i.name }}</td>
            <td>{{ i.isCorrect }}</td>
            <td><a href="/answers/edit/{{ i.id }}">Редактировать</a></td>
          </tr>
        </tbody>
      </table>
    </div>
    <button [disabled]="form.invalid" type="submit" class="btn btn-danger">
      Сохранить
    </button>
    <button type="button" class="btn btn-danger" (click)="redirect()">
      Отменить
    </button>
    <button type="button" class="btn btn-danger" (click)="showAlert()">
      Удалить
    </button>
    <button type="button" class="btn btn-danger" (click)="addAnswer()">
      Добавить вариант ответа
    </button>
  </form>
</div>
